/* Google Font - Rubik - reg, med, bold, extrabold */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap");

/* Google Font - Roboto Mono - bold */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

*,
*::before,
*::after,
html,
body {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  outline: none;
  color: inherit;
}
